#include "windows.h"

1 VERSIONINFO
FILEVERSION         0,0,0,0-test,0
PRODUCTVERSION      0,0,0,0-test,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Dylan\0"
            VALUE "FileDescription", "TheBoys Minecraft Modpack Launcher\0"
            VALUE "FileVersion",      "0.0.0"
            VALUE "InternalName", "TheBoysLauncher.exe\0"
            VALUE "LegalCopyright", "Copyright Dylan 2025\0"
            VALUE "OriginalFilename", "TheBoysLauncher.exe\0"
            VALUE "ProductName", "TheBoysLauncher\0"
            VALUE "ProductVersion",   "0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
