# OpenSSL configuration file for creating self-signed certificates
[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = TheBoysLauncher

[v3_req]
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = codeSigning
basicConstraints = CA:FALSE