<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="TheBoysLauncher"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="Dylan"
           UpgradeCode="D5E2B1A3-7C4F-4A2D-9E8F-1A2B3C4D5E6F">

    <!-- Package information -->
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perUser"
             Description="TheBoys Minecraft Modpack Launcher"
             Comments="Cross-platform Minecraft modpack launcher with automatic Java management"
             Platform="x64" />

    <!-- Media definition -->
    <MediaTemplate EmbedCab="yes" />

    <!-- Major upgrade handling -->
  <MajorUpgrade DowngradeErrorMessage="A newer version of TheBoysLauncher is already installed." />

    <!-- Features -->
    <Feature Id="ProductFeature" Title="TheBoysLauncher" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="TheBoysLauncher" />
      </Directory>

      <!-- Start Menu -->
        <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="TheBoysLauncher"/>
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <!-- Components -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main executable -->
  <Component Id="MainExecutable">
    <File Id="TheBoysLauncherEXE"
      Source="$(var.TheBoysLauncher.TargetPath)"
      KeyPath="yes" />

        <!-- File association for .theboys files -->
        <RegistryKey Root="HKCR" Key=".theboys">
          <RegistryValue Type="string" Value="TheBoysLauncher.File" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="TheBoysLauncher.File">
          <RegistryValue Type="string" Value="TheBoys Modpack File" />
          <RegistryValue Type="string" Name="DefaultIcon" Value="[INSTALLFOLDER]TheBoysLauncher.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="TheBoysLauncher.File\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]TheBoysLauncher.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
      </Component>

      <!-- Icon file -->
      <Component Id="IconFile">
        <File Id="IconICO" Source="$(var.ProjectDir)icon.ico" />
      </Component>

      <!-- License file -->
      <Component Id="LicenseFile">
        <File Id="LicenseRTF" Source="$(var.ProjectDir)wix\LICENSE.rtf" />
      </Component>
    </ComponentGroup>

  <!-- Start Menu Shortcut -->
  <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder">
    <Condition>CREATE_STARTMENU_SHORTCUT="1"</Condition>
  <Shortcut Id="ApplicationStartMenuShortcut"
        Name="TheBoysLauncher"
        Description="TheBoys Minecraft Modpack Launcher"
        Target="[#TheBoysLauncherEXE]"
        WorkingDirectory="INSTALLFOLDER"
        Icon="IconICO"
        IconIndex="0" />
      <RegistryValue Root="HKCU"
                     Key="Software\TheBoysLauncher"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
    </Component>

  <!-- Desktop Shortcut (optional) -->
    <Component Id="DesktopShortcut" Directory="DesktopFolder">
      <Condition>CREATE_DESKTOP_SHORTCUT="1"</Condition>
      <Shortcut Id="ApplicationDesktopShortcut"
                Name="TheBoysLauncher"
                Description="TheBoys Minecraft Modpack Launcher"
                Target="[#TheBoysLauncherEXE]"
                WorkingDirectory="INSTALLFOLDER"
                Icon="IconICO"
                IconIndex="0" />
      <RegistryValue Root="HKCU"
                     Key="Software\TheBoysLauncher"
                     Name="desktop_shortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

  <!-- Icons -->
  <Icon Id="IconICO" SourceFile="$(var.ProjectDir)icon.ico" />

  <!-- Properties to control shortcut creation -->
  <Property Id="SHORTCUTS_DIALOG_SHOWN" Value="0" />
  <Property Id="CREATE_DESKTOP_SHORTCUT" Value="1" />
  <Property Id="CREATE_STARTMENU_SHORTCUT" Value="1" />
  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  <!-- Ensure installed product shows an icon in Add/Remove Programs -->
  <Property Id="ARPPRODUCTICON" Value="IconICO" />

  <!-- Provide optional run checkbox on exit -->
  <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch TheBoysLauncher" />
  <Property Id="WixShellExecTarget" Value="[#TheBoysLauncherEXE]" />
  <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

  <!-- Base UI with custom shortcut dialog -->
  <UIRef Id="WixUI_InstallDir" />
  <UIRef Id="WixUI_Common" />

  <UI>
    <DialogRef Id="InstallDirDlg" />
    <DialogRef Id="BrowseDlg" />
    <DialogRef Id="DiskCostDlg" />
    <DialogRef Id="ErrorDlg" />
    <DialogRef Id="FatalError" />
    <DialogRef Id="FilesInUse" />
    <DialogRef Id="MsiRMFilesInUse" />
    <DialogRef Id="PrepareDlg" />
    <DialogRef Id="ProgressDlg" />
    <DialogRef Id="ResumeDlg" />
    <DialogRef Id="UserExit" />

    <!-- Intercept Install button to show shortcut dialog -->
    <Publish Dialog="VerifyReadyDlg" Control="Install" Event="NewDialog" Value="ShortcutDlg">SHORTCUTS_DIALOG_SHOWN = 0</Publish>
    <Publish Dialog="VerifyReadyDlg" Control="Install" Event="EndDialog" Value="Return">SHORTCUTS_DIALOG_SHOWN = 1</Publish>

    <Publish Dialog="ShortcutDlg" Control="Back" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
    <Publish Dialog="ShortcutDlg" Control="Next" Event="SetProperty" Value="SHORTCUTS_DIALOG_SHOWN=1">1</Publish>
    <Publish Dialog="ShortcutDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

    <Dialog Id="ShortcutDlg" Width="370" Height="260" Title="Create Shortcuts">
      <Control Id="Banner" Type="Banner" X="0" Y="0" Width="370" Height="60" />
      <Control Id="Description" Type="Text" X="15" Y="75" Width="340" Height="20" Transparent="yes" NoPrefix="yes">
        <Text>Select which shortcuts to create for TheBoysLauncher.</Text>
      </Control>

      <Control Id="StartMenuCheck" Type="CheckBox" X="25" Y="115" Width="300" Height="17"
               Property="CREATE_STARTMENU_SHORTCUT" CheckBoxValue="1"
               Text="Create a Start Menu shortcut" />
      <Control Id="DesktopCheck" Type="CheckBox" X="25" Y="145" Width="300" Height="17"
               Property="CREATE_DESKTOP_SHORTCUT" CheckBoxValue="1"
               Text="Create a Desktop shortcut" />

      <Control Id="Back" Type="PushButton" X="180" Y="225" Width="56" Height="17" Text="&amp;Back" />
      <Control Id="Next" Type="PushButton" X="240" Y="225" Width="56" Height="17" Default="yes" Text="&amp;Install" />
      <Control Id="Cancel" Type="PushButton" X="300" Y="225" Width="56" Height="17" Cancel="yes" Text="Cancel">
        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
      </Control>
    </Dialog>

    <!-- Launch application on exit when checkbox selected -->
    <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1</Publish>
  </UI>

  <!-- License agreement -->
  <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)wix\LICENSE.rtf" />

    <!-- Custom actions to clean up user data on uninstall -->
    <CustomAction Id="CleanUserData"
                  Directory="INSTALLFOLDER"
                  ExeCommand="cmd /c &quot;rd /s /q &quot;%LOCALAPPDATA%\TheBoysLauncher&quot; 2&gt;nul&quot;"
                  Execute="deferred"
                  Return="ignore"
                  HideTarget="no" />

    <CustomAction Id="LaunchApplication"
                  FileKey="TheBoysLauncherEXE"
                  ExeCommand=""
                  Return="asyncNoWait"
                  Impersonate="yes" />

    <InstallExecuteSequence>
      <Custom Action="CleanUserData" After="InstallInitialize">REMOVE=&quot;ALL&quot;</Custom>
    </InstallExecuteSequence>
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
